<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.wemedia.mapper.WmNewsMapper">


    <select id="AdQueryList" parameterType="com.neusoft.model.wemedia.dtos.WmNewsDto"
            resultType="com.neusoft.model.wemedia.vo.WmNewsVo">
        select wn.*,wu.name as authorName from wm_news as wn left join wm_user as wu on wn.user_id = wu.id
            <where>
                <if test="status != null">
                    and wn.status = #{status}
                </if>
                <if test="title != null">
                    and wn.title like concat("%",#{title},"%")
                </if>
            </where>
            order by wn.created_time desc
            limit #{startPage},#{size}
    </select>
</mapper>